
body{
         background-color:burlywood;
         
        }
.igs-max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.igs-nabav {
    width: 100%;
    background-color: brown;
    text-decoration: none;
}
p{
    text-align: right;
}


 .igs-intro{
    display: -ms-flexbox;
    text-align: right;
    flex-direction: column;
 }
 .igs-discours{
       text-align: center;
 }
 .igs-titre{ 
    text-align: center;
    
 }
 
 
 
 
 
