
body{
 margin:0;
 line-height:1,5
} /*   
.{  
 margin: 0;
 padding:0;
 outline: none;
 text-decoration: none;
 box-sizing: border-box;
}
::before,::after{
    box-sizing: border-box;
}*/
.igs-home-section-background{
    background-color:#f2f2fc ;
    min-height: 100vh;
}
.igs-main-content-padding{
    padding-left: 270px ;
    display: block;
}
.igs-ASIDE{
    width: 270px;
    background-color: red;
    position:fixed;
    height: 100%;
    left: 0;
    top:0;
    z-index: 10;
}


